<html>
	<head>
		<title>NakHwi's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">NakHwi's Blog</a></h1>
		</div>

		<div>
			<p>published: 16.02.28 01:45</p>
			<h2><a href="">MY First post </a></h2>
			<p> Hello yooohoooo My name is nakhwi just call me nike</p>
		</div>

		<div>
			<p>published: 16.02.28 01:45</p>
			<h2><a href="">MY Second post </a></h2>
			<p> Hello yooohoooo My name is nakhwi just call me nike</p>
		</div>
			

	</body>
	<p> Hi there!</pi>
	<p>It works!</p>
</html>
